<main class="d-flex flex-column align-items-center w-100 vh-100 p-2" id="bgimg">
    <div class="mt-5 p-4 d-flex flex-column align-items-center">
        <h5 class="fs-1 fw-bold m-2">Welcome to <span class="text-light fst-italic">bebop</span>!</h5>
        <p class="fs-5 m-3 text-center">A social network tool that brings live music lovers closer than ever!</p>
        <a href="/signup"><button type="button" class="btn btn-success text-white my-3">Sign Up!</button></a>
        <p id="small-text">Already a member? <a href="/login">Login</a>
    </div>
</main>