<main class="d-flex flex-column p-1 bg-info">
    <div class="d-flex justify-content-end">
        <h5 class="fs-5 mt-2 px-4 mb-4">Welcome <span class="text-light fst-italic">Deanna!</span>!</h5>
    </div>
    <div>
        <div class="d-flex justify-content-center">
            <h6 class="mx-2 mw-100 text-center" style="width: 30rem;">Search for and add your Top Six Artists:</h6>
        </div>
        <div class="mw-100 center" style="width: 30rem;">
            <div class="input-group mb-3 px-4">
                <input type="text" class="form-control" placeholder="Favorite artist" aria-label="Artist search"
                    aria-describedby="button-addon2">
                <button class="btn btn-outline-success" type="button" id="button-addon2"><span
                        class="text-light">Add</span></button>
            </div>
        </div>
    </div>
    <div class="row g-0 m-5">
        <div class="col-md-4 p-2">
            <div class="artist-card">
                <a href="/artists/1">
                    <img class="profile-img" src="../public/images/coldplay.jpeg" alt="artist">
                    <h1>Coldplay</h1>
                </a>
                <span class="remove-icon">&#10060;</span>
            </div>
        </div>
        <div class="col-md-4 p-2">
            <div class="artist-card">
                <a href="/artists/2">
                    <img class="profile-img" src="../public/images/kaceymusgraves.jpeg" alt="artist">
                    <h1>Kacey Musgraves</h1>
                    <span class="remove-icon">&#10060;</span>
                </a>
            </div>
        </div>
        <div class="col-md-4 p-2">
            <div class="artist-card">
                <a href="/artists/3">
                    <img class="profile-img" src="../public/images/lennonstella.jpeg" alt="artist">
                    <h1>Lennon Stella</h1>
                    <span class="remove-icon">&#10060;</span>
                </a>
            </div>
        </div>
        <div class="col-md-4 p-2">
            <div class="artist-card">
                <a href="/artists/4">
                    <img class="profile-img" src="../public/images/leonbridges.jpg" alt="artist">
                    <h1>Leon Bridges</h1>
                    <span class="remove-icon">&#10060;</span>
                </a>
            </div>
        </div>
        <div class="col-md-4 p-2">
            <div class="artist-card">
                <a href="/artists/5">
                    <img class="profile-img" src="../public/images/shakygraves.jpeg" alt="artist">
                    <h1>Shaky Graves</h1>
                    <span class="remove-icon">&#10060;</span>
                </a>
            </div>
        </div>
        <div class="col-md-4 p-2">
            <div class="artist-card">
                <a href="/artists/6">
                    <img class="profile-img" src="../public/images/the1975.jpeg" alt="artist">
                    <h1>The 1975</h1>
                    <span class="remove-icon">&#10060;</span>
                </a>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center my-3 pb-5">
        <div class="card text-light bg-dark mw-100" style="width: 30rem;">
            <div class="card-header fw-bold p-3">
                Shows I am going to:
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item p-3">Leon Bridges Austin, TX 11/10/2021</li>
                <li class="list-group-item p-3">Kacey Musgraves Nashville, TN 11/26/2021</li>
                <li class="list-group-item p-3">Lennon Stella Seattle, WA 12/09/2021</li>
            </ul>
        </div>
    </div>
</main>