<main class="d-flex flex-column p-1 bg-info">
    <div class="d-flex justify-content-end">
        <h5 class="fs-5 mt-2 mx-2 mb-4">Welcome <span class="text-light fst-italic">Deanna!</span>!</h5>
    </div>
    <div>
        <div class="d-flex justify-content-center">
            <h6 class="mb-3">Search for and add your favorite artists (Max 6)</h6>
        </div>
        <div class="w-50 search-bar">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Favorite artist" aria-label="Artist search"
                    aria-describedby="button-addon2">
                <button class="btn btn-outline-success" type="button" id="button-addon2"><span
                        class="text-light">Add</span></button>
            </div>
        </div>
    </div>
    <div class="row g-0 m-5">
        <div class="col-md-4">
            <div>
                <a href="ARTIST FROM TABLE">
                    <img class="profile-img" src="../public/images/coldplay.jpeg" alt="artist">

                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div>
                <a href="ARTIST FROM TABLE">
                    <img class="profile-img" src="../public/images/kaceymusgraves.jpeg" alt="artist">
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div>
                <a href="ARTIST FROM TABLE">
                    <img class="profile-img" src="../public/images/lennonstella.jpeg" alt="artist">
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div>
                <a href="ARTIST FROM TABLE">
                    <img class="profile-img" src="../public/images/leonbridges.jpg" alt="artist">
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div>
                <a href="ARTIST FROM TABLE">
                    <img class="profile-img" src="../public/images/shakygraves.jpeg" alt="artist">
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div>
                <a href="ARTIST FROM TABLE">
                    <img class="profile-img" src="../public/images/the1975.jpeg" alt="artist">
                </a>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center m-5 pb-5">
        <div class="card text-light bg-dark" style="width: 30rem;">
            <div class="card-header fw-bold p-3">
                Shows I am going to:
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item p-3">Leon Bridges Austin, TX 11/10/2021</li>
                <li class="list-group-item p-3">Kacey Musgraves Nashville, TN 11/26/2021</li>
                <li class="list-group-item p-3">Lennon Stella Seattle, WA 12/09/2021</li>
            </ul>
        </div>
    </div>
</main>