<main class="d-flex flex-column align-items-center vw-100 vh-100 p-2" id="bgimg">
    <div class="card mt-5 w-75">
        <div class="card-header">
            Join the community of live music lovers!
        </div>
        <div class="card-body">
            <form id="signup-form">
                <label for="exampleInputEmail1" class="form-label">Email:</label>
                <input type="Email" class="form-control mb-2" id="exampleInputEmail1" aria-describedby="emailHelp">
                <label for="exampleInputUsername1" class="form-label">Username:</label>
                <input type="username" class="form-control mb-2" id="exampleInputUsername1"
                    aria-describedby="usernameHelp">
                <label for="inputPassword5" class="form-label">Password:</label>
                <input type="password" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock">
                <div id="passwordHelpBlock" class="form-text small-text mb-2">
                    Your password must be 8-20 characters long, contain at least one letter, number, and special
                    character, and must not contain
                    spaces or emoji.
                </div>
                <label for="inputPassword5" class="form-label">Confirm Password:</label>
                <input type="password" id="inputPassword5" class="form-control mb-2"
                    aria-describedby="passwordHelpBlock">
                <a href="/signup"><button type="submit" class="btn btn-primary mt-3">Sign Up!</button></a>
                <p id="small-text" class="mt-2">Already a member? <a href="/login">Login</a></p>
            </form>
        </div>
    </div>
</main>