main {
    min-height: 1000px;
}

#bgimg {
    background-image: url('../images/mainbg.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.profile-img {
    float: none;
    width: 100%;
    height: 300px;
    object-fit: cover;
}

#small-text {
    font-size: small;
}

.center {
    margin: 0 auto;
    float: none;
}

.artist-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 5px;
}

.artist-card {
    position: relative;
}

.artist-card h1 {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: white;
    font-size: 28px;
    padding: 2%;
    cursor: pointer;
    display: none;
}

.artist-card:hover h1 {
    display: block;
}

.artist-card {
    background-color: black;
}

.artist-card:hover .profile-img {
    opacity: .5;
}

.artist-card #remove-icon {
    position: absolute;
    top: 0;
    right: 1%;
    padding: 2%;
    opacity: .4;
    color: transparent;
    text-shadow: 0 0 #cd2127;
    font-size: 12px;
    cursor: pointer;
    display: none;
}

.artist-card:hover #remove-icon {
    display: block;
}

#remove-icon:hover {
    opacity: 1;
}

@media only screen and (max-width: 375px) {
    .artist-card #remove-icon {
        display: block;
        font-size: 24px;
        padding: 5%;
    }

    .artist-card .profile-img {
        opacity: .5;
    }

    .artist-card h1 {
        display: block;
    }
}